.navbar{
    height:80px ;

   
    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .left{
            display: flex;
            gap: 25px;
            align-items: center;
            font-size: 18px;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
           .icons{
            display: flex;
        gap: 15px;
        color: #777;
        cursor: pointer;
        font-size: 18px;
        .cartIcon {
            
            display: flex;
           justify-content: flex-end;
           width:40px;
            span {
              font-size: 12px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #2879fe;
              color: white;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
           }
        }
     .center{
        font-size: 30px;
      letter-spacing: 2px;
    }
    }
    

   
}